@import url(styleBig.css) screen and (min-width:761px);
@import url(styleSmall.css) screen and (max-width:760px);
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    margin: 0 auto;
    font-family: Roboto, 'Sans-serif';
}
/* ========================= Vo Vinh - Grand */ 
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    background-color: #499c21;
    width: 90%;
    padding: 100px;
    margin: 0 0 50px 0;
}

figure {
    text-decoration: none;

}

.actions_container {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.actions_item {
    text-decoration: none;
}

figcaption {
    text-align: center;
}

.img_txt {
    display: flex;
}
 */
