.col_principale{
	background: #499C21;
	height:100px;
	width:100%;
}

.col_fond{
	background: #28650B;
	height:100px;
	width:100%;
}
.col_fond_selected{
	background: #467530;
	height:100px;
	width:100%;
}
.col_claire{
	background: #91CE74;
	height:100px;
	width:100%;
}
.col_jaune{
	background: #F5CD3D;
	height:100px;
	width:100%;

}